@import '@styles/theme.module.scss';

.root {
    font: $large-font;
    display: flex;
    flex-direction: row;
    row-gap: 0.5em;
    background-color: $snow-white;
    padding-top: 2em;
    padding-bottom: 2em;
    column-gap: 2em;
}

.title {
    font: $title-font;
    letter-spacing: 0.4rem;
    margin-bottom: 1em;
}


.paragraph {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    font: $paragraph-font;
}

.text {
    margin-right: 3em;
    margin-left: 3em;
    text-align: start;
}


.image {
    align-self: center;
    height: 14em;
    margin-top: 1em;
    width: 24em;
}