@import '@styles/theme.module.scss';

.root {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 5em;
  padding-left: 3em;
  padding-top: 2em;
  padding-bottom: 1.2em;
}

.details {
  font: $details-font;
}

.social {
  display: flex;
  column-gap: 1em;
}

.small {
  font: $small-font;
  margin-top: 18px;
}

.icon {
  width: 24px;
  height: 24px;
}
